#root {
    max-width: 400px;
    padding: 10px 20px 20px 20px;
}

.container > * {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
}

.footer-splitted {
    font-size: 13px;
    margin: 15px 0 0 0;
}

.footer-left {
    float: left;
    width: 50%;
    text-align: left;
}

.footer-right {
    float: right;
    width: 50%;
    text-align: right;
}

.footer-oneline {
    margin: 15px;
    text-align: center;
}

.footer-oneline > * {
    font-size: 13px;
    margin: 0 5px;
    display: inline;
}